@font-face {
  font-family: 'Maplestory';
  src: url('src/assets/font/Maplestory Light.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Maplestory';
  src: url('src/assets/font/Maplestory Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'NanumGothic';
  src: url('src/assets/font/NanumGothic-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'NanumGothic';
  src: url('src/assets/font/NanumGothic-Bold.ttf') format('truetype');
  font-weight: 700;
}

:root {
  font-family: NanumGothic, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 13px;

  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --main-content: #213547;
  --sub-content: #717171;
}

body {
  margin: 0;
}

h1 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  font-family: Maplestory, serif;
}
