@font-face {
  font-family: 'Maplestory';
  src: url('src/assets/font/Maplestory Light.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Maplestory';
  src: url('src/assets/font/Maplestory Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'NanumGothic';
  src: url('src/assets/font/NanumGothic-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'NanumGothic';
  src: url('src/assets/font/NanumGothic-Bold.ttf') format('truetype');
  font-weight: 700;
}

:root {
  font-family: NanumGothic, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 13px;

  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --main-content: #213547;
  --sub-content: #717171;

  --main-back-color: floralwhite;
  --highlight-color: #e6ff8d;
}

body {
  margin: 0;
}

// TODO: CSS 추가 수정 필요
$theme-name: 'default-theme';
.#{$theme-name} {
  font-family: NanumGothic, sans-serif;

  h1 {
    font-size: 20px !important;
  }

  h2 {
    font-size: 16px !important;
  }

  h3 {
    font-size: 14px !important;
  }

  ul>li, ul, p {
    font-size: 13px;
  }
}